{% extends "base_generic.html" %}

{% block content %}
<h1>All Borrowed Books</h1>


{% if bookinstance_list %}
<ul>
        {% for bookinst in bookinstance_list %}
        {{ forloop.counter }}
        <li class={% if forloop.counter == 0 %}"btn-default"
        class={% elif forloop.counter == 1 %}"btn-success"
        class={% elif forloop.counter == 2 %}"btn-danger"
        class={% elif forloop.counter == 3 %}"btn-info"
        class={% elif forloop.counter == 4 %}"btn-warning"
        class={% elif forloop.counter == 5 %}"btn-link"
        class={% elif forloop.counter == 6 %}"btn-primary" {% endif %}
        class="{% if bookinst.is_overdue %}{% endif %}forloop.counter">
      <li class="{% if bookinst.is_overdue %}btn-danger{% endif %}">
    <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }}) {% if user.get_user %}-{{ bookinst.borrower }}{% endif %}
    </li>
{% endfor %}
</ul>

{% else %}
<p>There are no books borrowed.</p>
{% endif %}
{% endblock %}
